
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 62.5%;
    height: 100%;
}

body {
    border-top: 5px solid teal;
    width: 100%;
    height: 100%;
    font-size: 1.6em;
    font-family: calibri;
}

.container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.left {
	flex:0 0 30%;
}

.right {
	flex:1;
}

.content{
	padding: 2em;
	padding-right: 1em;
}

.navigation,.about{
	padding: 1em;
	color: #827d7b;
}

.content h2{
	color: #827d7b;
	font-size: 1.4em;
	margin-bottom: 1em;
}

.content h1{
	color: #000;
		font-size: 1.6em;
}

.active{
	color:teal;
}

.navigation .anchor{
	margin-top: 1em;
	color: #827d7b;
}

.about h4{
	color: #000;
	font-size: 1em;
	font-weight:600 ;
	margin-bottom: 1em;

}

.content h1{
	padding-bottom: 1em;
	border-bottom: 1px solid #b3b3b3;
}

.right .content {
	max-width: 880px;
	margin: 0 auto;
}

.location{
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	color: #827d7b;
}

.location span{
	padding-left: .5em;
}

.portfolio{
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	padding-bottom: 1em;
	border-bottom: 1px solid #b3b3b3;
}

.portfolio img{
	margin: 0 auto;
	flex:1;
	margin: .9em;
	max-width: 270px;
}

.bottom{
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content:flex-start;
	border-bottom: 1px solid #b3b3b3;
}

.bottom-box{
	flex:1;
	padding: 1em;
	max-width: 220px;
}

.box-heading{
	font-weight: 600;
	padding-top: 1em;
	padding-bottom: 1em;
}

.box-text{
	padding-bottom: 1em;
	color:#827d7b;
}

.follow{
	font-style: italic;
	color: teal;
}

.footer{
	padding-top: 1em;
	padding-left: 1em;
	color: #827d7b;
}

.footer .bold{
	font-weight: 600;
}






